<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/auth/register">Register</a>
<a href="/auth/login">Login</a>
<a href="/auth/google">Google +</a>
<a href="/auth/logout">Logout</a>
<a href="/">homepage</a>
</body>
</html> 