<h1>register</h1>
<form action="/auth/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="username" required>
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/auth/register">Register</a>
<a href="/auth/login">Login</a>
<a href="/auth/google">Google +</a>
<a href="/auth/logout">Logout</a>
<a href="/">homepage</a>